.wizard-doc-explorer-item > :not(:first-child) {
  margin-top: var(--px-12);
}

.wizard-doc-explorer-argument-multiple {
  margin-left: var(--px-8);
}

.wizard-doc-explorer-enum-value {
  color: hsl(var(--color-info));
}
