<!--/*
    SPA-specific meta tags
*/-->
<meta name="theme-color" content="#000000" />
<link rel="icon" href="/etc.clientlibs/content-wizard/clientlibs/clientlib-react/resources/favicon.ico" />
<link rel="apple-touch-icon" href="/etc.clientlibs/content-wizard/clientlibs/clientlib-react/resources/logo192.png" />
<link rel="manifest" href="/etc.clientlibs/content-wizard/clientlibs/clientlib-react/resources/manifest.json" />
<!-- AEM page model -->
<meta
    property="cq:pagemodel_root_url"
    data-sly-use.page="com.adobe.aem.spa.project.core.models.Page"
    content="${page.hierarchyRootJsonExportUrl}"
/>

<meta property="cq:datatype" data-sly-test="${wcmmode.edit || wcmmode.preview}" content="JSON" />
<meta property="cq:wcmmode" data-sly-test="${wcmmode.edit}" content="edit" />
<meta property="cq:wcmmode" data-sly-test="${wcmmode.preview}" content="preview" />

