<!DOCTYPE html>
<html
        data-sly-use.page="com.adobe.aem.spa.project.core.models.Page"
        data-sly-use.pwa="com.adobe.cq.wcm.core.components.models.PWA"
        lang="${page.language}"
        data-sly-use.head="head.html"
        data-sly-use.footer="footer.html"
>
<head data-sly-call="${head.head @ page = page, pwa = pwa}"></head>
<body class="coral--light ${page.cssClassNames}">

<sly data-sly-test="${!isRedirectPage}">
    <sly data-sly-include="body.html"></sly>
    <sly data-sly-call="${footer.footer @ page = page, pwa = pwa}"></sly>
</sly>
</body>
</html>
