<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Content Wizard</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/etc.clientlibs/content-wizard/clientlibs/clientlib-react/resources/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/etc.clientlibs/content-wizard/clientlibs/clientlib-react/resources/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/etc.clientlibs/content-wizard/clientlibs/clientlib-react/resources/favicon-16x16.png">
        <link rel="manifest" href="/etc.clientlibs/content-wizard/clientlibs/clientlib-react/resources/site.webmanifest">
        <link rel="mask-icon" href="/etc.clientlibs/content-wizard/clientlibs/clientlib-react/resources/safari-pinned-tab.svg" color="#1976d2">
        <meta name="msapplication-TileColor" content="#1976d2">
        <meta name="theme-color" content="#1976d2">

        <link rel="stylesheet" href="/etc.clientlibs/content-wizard/clientlibs/clientlib-react.css" type="text/css">
    </head>
    <body class="wizard-dark">
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="app-root"></div>

        <script src="/etc.clientlibs/content-wizard/clientlibs/clientlib-react.js"></script>
    </body>
</html>
