{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "node": "20"
        }
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "@emotion"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "include": [
              "src/**.*"
            ],
            "exclude": [
              "dist/**.*",
              "node_modules/**.*",
              "tests/**.*"
            ]
          }
        ]
      ]
    }
  }
}
