@use "../../../vars" as *;


#results-exporter-dialog {
  min-width: 40rem;
}

.package-builder-stack > * {
  padding: 1rem;
}

.package-builder-field {
  width: 100%;
}

body.wizard-light #package-builder-dialog {
  .MuiDialog-paper {
    background-color: $solid-paper-background-light;
  }
  .package-builder-stack {

  }
}


body:not(.wizard-light) #package-builder-dialog {
  .MuiDialog-paper {
    background-color: $solid-paper-background-dark;
  }
  .package-builder-stack {
    background-color: #121212 !important;
  }
}
body.wizard-dark #package-builder-dialog {
  .MuiDialog-paper {
    background-color: $solid-paper-background-dark;
  }
  .package-builder-stack {
    background-color: #121212 !important;
  }
}
