@use "../../../vars" as *;

.results-exporter-stack {
  //background-color: $builder-bg-color !important;
}

.results-exporter-stack > * {
  padding: 1rem;
}

.results-exporter-field {
  width: 100%;
}

body.wizard-light #results-exporter-modal {
  .MuiDialog-paper {
    background-color: $solid-paper-background-light;
  }
  .results-exporter-stack {
    //background-color: $builder-bg-color !important;
  }
}


body:not(.wizard-light) #results-exporter-modal {
  .MuiDialog-paper {
    background-color: $solid-paper-background-dark;
  }
  .results-exporter-stack {
    background-color: #121212 !important;
  }
}
body.wizard-dark #results-exporter-modal {
  .MuiDialog-paper {
    background-color: $solid-paper-background-dark;
  }
  .results-exporter-stack {
    background-color: #121212 !important;
  }
}
